FRONTEND_URL=http://localhost:3000

JWT_SIGNATURE_KEY=secret

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
DB_NAME=finaway

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDER_NAME=
