{
  "openapi": "3.0.2",
  "info": {
    "title": "API Finaway",
    "description": "API Spec for Finaway RESTful API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://finaway.id/api/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check credentials and get auth token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "uniqueItems": true,
                    "example": "johndoe@mail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged in success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 201
                    },
                    "status": {
                      "type": "string",
                      "default": "Created"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DataAuthenticationSuccess"
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signup success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 201
                    },
                    "status": {
                      "type": "string",
                      "default": "Created"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DataAuthenticationSuccess"
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "$ref": "#/components/schemas/ValidationError"
                        },
                        "email": {
                          "$ref": "#/components/schemas/ValidationError"
                        },
                        "password": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/activate/{token}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Account activation",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Account activation token that have been sent by email",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Account activation success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Password reset request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "johndoe@mail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset password request success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/password/reset/{token}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get user's name & email by reset password token",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Forgot password token that have been sent by email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get user data success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "johndoe@mail.com"
                        }
                      }
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset current password with new password",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Forgot password token that have been sent by email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "description": "New password",
                    "type": "string",
                    "example": "secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "password": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Generate new access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "example": "eyXxx.eyXxx.xxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refresh token success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "example": "eyXxx.eyXxx.xxx"
                        }
                      }
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "refresh_token": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Generate new access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "example": "eyXxx.eyXxx.xxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refresh token success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "example": "eyXxx.eyXxx.xxx"
                        }
                      }
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 400
                    },
                    "status": {
                      "type": "string",
                      "default": "BadRequest"
                    },
                    "data": {
                      "default": null
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "refresh_token": {
                          "$ref": "#/components/schemas/ValidationError"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      }
    },
    "/account/activate": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Activate the primary email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "xyz"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/activate/resend": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Resend activation token"
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get current logged in user data",
        "responses": {
          "200": {
            "description": "Get profile success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "default": 200
                    },
                    "status": {
                      "type": "string",
                      "default": "Ok"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    },
                    "errors": {
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/ResponseUnauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/ResponseTooManyRequest"
          }
        }
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Change user identity"
      }
    },
    "/profile/photo": {
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update profile photo"
      }
    },
    "/profile/password": {
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Change password"
      }
    },
    "/profile/emails": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get all registered emails"
      },
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Add email"
      }
    },
    "/profile/emails/{email_id}/primary": {
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Make email as primary"
      }
    },
    "/profile/emails/{email_id}": {
      "delete": {
        "tags": [
          "Profile"
        ],
        "summary": "Delete registered email"
      }
    },
    "/reminders": {
      "get": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Get all reminders"
      },
      "post": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Add new reminder"
      }
    },
    "/reminders/{reminder_id}": {
      "get": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Get reminder by ID"
      },
      "put": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Change reminder"
      },
      "delete": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Delete reminder"
      }
    },
    "/reminders/{reminder_id}/enable": {
      "put": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Enable reminder"
      }
    },
    "/reminders/{reminder_id}/disable": {
      "put": {
        "tags": [
          "Reminders (next update)"
        ],
        "summary": "Disable reminder"
      }
    },
    "/finance/records": {
      "get": {
        "tags": [
          "Finance Records"
        ],
        "summary": "Get all financial records"
      },
      "post": {
        "tags": [
          "Finance Records"
        ],
        "summary": "Add financial record"
      }
    },
    "/finance/records/{record_id}": {
      "get": {
        "tags": [
          "Finance Records"
        ],
        "summary": "Get financial record"
      },
      "put": {
        "tags": [
          "Finance Records"
        ],
        "summary": "Change financial record"
      },
      "delete": {
        "tags": [
          "Finance Records"
        ],
        "summary": "Delete records"
      }
    },
    "/finance/categories": {
      "get": {
        "tags": [
          "Finance Categories"
        ],
        "summary": "Get all financial categories"
      },
      "post": {
        "tags": [
          "Finance Categories"
        ],
        "summary": "Create financial category"
      }
    },
    "/finance/categories/{category_id}": {
      "get": {
        "tags": [
          "Finance Categories"
        ],
        "summary": "Find financial category by ID"
      },
      "put": {
        "tags": [
          "Finance Categories"
        ],
        "summary": "Change financial category"
      },
      "delete": {
        "tags": [
          "Finance Categories"
        ],
        "summary": "Delete financial category"
      }
    },
    "/finance/categories/default": {
      "get": {
        "tags": [
          "Finance Default Categories"
        ],
        "summary": "Get all default financial record categories"
      }
    },
    "/finance/categories/default/{category_id}": {
      "get": {
        "tags": [
          "Finance Default Categories"
        ],
        "summary": "Find default financial record category by ID"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "password",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "example": "07885962-b316-4fa9-9d9a-018e94020fd1"
          },
          "name": {
            "type": "string",
            "minLength": 0,
            "maxLength": 50,
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "uniqueItems": true,
            "minLength": 0,
            "maxLength": 255,
            "example": "johndoe@mail.com"
          },
          "password": {
            "type": "string",
            "writeOnly": true
          },
          "is_verified": {
            "type": "boolean",
            "readOnly": true,
            "example": true
          },
          "created_at": {
            "type": "number",
            "readOnly": true,
            "example": 1351700038
          },
          "updated_at": {
            "type": "number",
            "readOnly": true,
            "nullable": true,
            "example": 1351700038
          }
        }
      },
      "DataAuthenticationSuccess": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyXxx.eyXxx.xxx"
          },
          "refresh_token": {
            "type": "string",
            "example": "eyXxx.eyXxx.xxx"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ResponseUnauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "default": 401
                },
                "status": {
                  "type": "string",
                  "default": "Unauthorized"
                },
                "data": {
                  "type": "object",
                  "nullable": true,
                  "default": null
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "_global": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Unauthorized"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ResponseTooManyRequest": {
        "description": "Too many request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "default": 429
                },
                "status": {
                  "type": "string",
                  "default": "TooManyRequest"
                },
                "data": {
                  "type": "object",
                  "nullable": true,
                  "default": null
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "_global": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Too many request"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}